* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

img, video {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

main {
    height: 100%;
    background-color: #333;

    position: relative;
}

.progressbar {
    width: 0;
    height: 2px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #fff;
}

.options {
    position: fixed;
    left: 0;
    right: 3.5rem;
    top: 3rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
}

.mute, .reset {
    padding: .5rem .8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    background-color: rgba(255, 255, 255, .5);
    border: inset 1px rgba(255, 215, 0, .5);
    border-radius: 5px;
    box-shadow: .5rem .5rem 10px rgba(0, 0, 0, .5), inset .2rem .2rem 10px rgba(255, 255, 255, .2);

    line-height: 0;

    opacity: 0;
    transition: all .5s;

    z-index: 3;
}

:is(.mute, .reset) img {
    width: 2.5vw;
}

.videoBg {
    height: 100%;
}

.myControls {
    position: absolute;
    inset: 0;

    display: grid;
    place-items: center;
    transition: all .5s ease-in-out;
}

.playBtnWrapper {
    width: 7vw;

    border-radius: 100%;
    aspect-ratio: 1;

    display: grid;
    place-items: center;

    background-color: rgba(255, 255, 255, .05);
    transition: all .5s ease-in-out;

    position: relative;
}

.playBtnWrapper:hover {
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 40px rgba(255, 255, 255, .4);

    cursor: pointer;
}

.playBtnWrapper img {
    opacity: .05;
}

.playBtnWrapper:hover img {
    opacity: 1;
}

.playBtnWrapper h1 {
    color: #fff;
    font-size: 10rem;
    opacity: 0;
    user-select: none;

    position: absolute;
    bottom: calc(-50% - 5rem);

    transition: all .5s ease-in-out;

    text-shadow: 5px 0 0 rgba(128, 128, 0, 1);
}

.playBtnWrapper:hover h1 {
    opacity: 1;
    bottom: 2rem;
}

.keyboard {
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.keyboard > * {
    width: 3rem;
    aspect-ratio: 1;

    background-color: rgba(0, 0, 0, .2);
    border: inset 1px rgba(255, 215, 0, .5);
    border-radius: 5px;
    box-shadow: .5rem .5rem 10px rgba(0, 0, 0, .5), inset .2rem .2rem 10px rgba(255, 255, 255, .2);

    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: .2;
    transition: all .5s;

    backdrop-filter: blur(15px);
}

.showKey {
    opacity: .8;
}

.clickKey {
    opacity: 1;
    background-color: rgba(0, 0, 0, .8);
    transform: scale(.9);
}

.space {
    width: 30rem;
    height: 3rem;
    aspect-ratio: unset;
}